.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.BasicInput label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}
.BasicInput input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 37px;
  min-width: 200px;
  max-width: 99.99%!important;
  background: white;
  color: #000000;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-right: 5px;
  outline: none;
  padding: 10px;
  width:auto;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.BasicInput input:focus {
  border: 1px solid #FFB49A;
  width:300px;
}
.Item{
  width:100%;
  display: inline-block;
}
.Input {
  padding: 0 5px;
  margin-bottom: 10px;
}
.DropList DropdownList{
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 37px;
  width: 300px;
  padding:5px;
  margin-bottom: 3px;
}
span{
  display:block;
  margin:auto;
  font-size: 20px;
}
.Button{
  background: rgb(2, 121, 52);
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  /* display: flex; */
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.2);
  border-radius: 40px;
  font-size: 16px;
  font-weight: 0;
  -webkit-transition: border .125s ease, background .125s ease;
  transition: border .125s ease, background .125s ease;
}
.Button:hover {
  border: 2px solid #f04c23;
}
.Button[data-primary='true'] {
  border: 2px solid #fcf9f9;
}
.Button[data-primary='true']:hover {
  background: #1b7ff1;
}
.Button i{
  font-size: 50px;
}
. img{
  border-radius:8px;
  height: 60px;
  width: 100%;
  margin-bottom: 50px;
  opacity: 1;
}
. img:focus{
  opacity: 2;
}
.RadioButton{
  padding:0px;
}
.DataView{
  width:85%;
  padding:0px;
  font-size: 14sp;
}
.DataView .Search input {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    height: 37px;
    width: 25%;
    background: white;
    color: #000000;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 1px solid #000000;
    margin-bottom: 5px;
    outline: none;
    border-radius: 37px;
    padding: 10px;
    pointer-events: all;
    -webkit-transition: border .25s ease, width .125s ease .125s;
    transition: border .25s ease, width .125s ease .125s;
}
.DropList label{
  display: block;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 600;
  padding:5px;
}
.Select label{
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}
.Header{
    background: #43a047;
    height: 100px;
  }
.imgHolder{
  position:relative;
} .imgHolder span{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
/* .Modal{
  display:inline-block;
  vertical-align: middle;
  align-items: center;
  top:50px;
  left:50px;
  right:40px;
  bottom:40px;
  padding:20px;
  width: 400px;
  border-radius: 3px;
  background-color:#dcedc8;
  transform: translate(-80%,-80%);
} */
.Menu {
  background: #3E363F;
  border-radius: 2px;
  padding: 20px;
  width: 300px;
}
button{
  align-items: center;
  background: #DD403A;
  border: 0;
  border-radius: 5px;
  color: white;
  font-family: "Arial", sans-serif;
  font-style: bold;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom:10px;
  outline: none;
  padding: 6px;
  text-transform: uppercase;
  width: 130px; 
}
button .fa {
    font-size: 12px;
    margin-left: auto;
    position: relative;
    top: 1px; }
button:hover {
    transform: scale(1.02); 
}
button:active {
    transform: scale(0.99); 
}
.Overlay{
  position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.CustomStyles3{
  content : {
    top                   : '40%';
    left                  : '50%';
    right                 : '50%';
    bottom                : 'auto';
    marginRight           : '-50%';
    transform             : 'translate(-50%, -50%)';
  }
};
.RadioButtonGroup .ReactRadioButtonGroup{
  font-size:8px;
}
.Requirement{
  text: '*';
  color: red;
}
.Search input:focus {
  border: 1px solid #01579b;
  width: 30%;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.Table{
  margin-left: 50px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.Upper{
  width: 30%;
  padding: 30px;
}
.WithSelect{
    display: inline-block;
    padding:0px;
}

