.CSU-logo{
    background-image: url('.././assets/csulogo.JPG');
    width:5em;
    height:5em;
}
.body .heading{    
    width:50%;
    display: inline-block;
}
.body .rheadingcontent1{
    margin-left: 3em;
}
.body .rheadingcontent2{
    margin-left: 4em;
}
.body .head{
    width:100%;
    height:7%;
}
.body{
    margin-left: 3em;
    margin-top:2em;
    margin-right: 1.5em;
    height:100%;
    width:100%;
}
hr{
    background-color: black;
    height: 1px;
    padding:0px;
    margin-right: 1.5em;
    width:100%;
    margin-top:-7px;
}
p{
    font-size:14px;
}
.studentdata{
    width:100%;
    height: 8%;
    display: inline-block;
    padding:-5px;
}
.studentdata .datafield{
    display: inline-block;
    font-size: 14px;
    font-style: bold;
    width: 20%;    
}
.studentdatarow{
    width:100%;    
}
.studentdatarow .datarow{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    width: 20%;
    right:50px;
}
.studentdata .datafield2{
    display: inline-block;
    width: 9%;
}
.studentdata .datafieldscholarship{
    display: inline-block;
    width: 20%;
}
.studentdatarow .datarow2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    width: 9%; 
}
.studentdatarow .datarowscholarship{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    width: 20%;
}
.courses{
    height:30%;
    width:100%;
    height:20%;
}
.courses .onex{
    width:5%;
}
.courses .twox{
    width:10%;
}
.courses .threex{
    width:17%;
}
.courses .fourx{
    width:25%;
}
.courses table, th, td{
    border: 1px solid black;
}
.courses table{
    width:90%;
    margin-right:2.5em;
}
.courses td{
    text-transform: uppercase;
}
.SOA{
    width:100%;
    height:20%;
}
.SOA table{
    width:40%;
}
.SOA .twox{
    width:40%;
}
.SOA .fourx{
    width:60%;
}

.summary{
    height: 30%;
    width:100%;
    display: inline-block;
}
.summary .summaryheading{
    width:100%;
    display: inline-block;
}
.copy{
    margin-left:8em;
}
.Hbrokenline{
    border: 1px dashed white;
}
.Lsummary{
    width:50%;
    display: inline-block;
}
.Rsummary{
    width:50%;
    display:inline-block;
}
.vl {
    border-left: 3px solid green;
    height: 100%;
    display: inline-block;
}
