.CSU-logo{
    background-image: url('.././assets/csulogo.JPG');
    width:5em;
    height:5em;
}
.body .head{
    width:100%;
    height:7%;    
}
.body .heading{    
    width:50%;
    display: inline-block;
    margin-top: -1em;
}
.body .rheadingcontent1{
    margin-left: 6em;
}
.body .rheadingcontent2{
    margin-left: 7em;
    margin-top: -.5em;
}

.head p{
    margin-top: -1em;
}
.body{
    margin-left: 2em;
    margin-top:2em;
    margin-right: 1.5em;
    /* height:100%;
    width:100%; */
}
hr{
    height: 0px;
    border-top: 2px solid #404040;
    margin-right: 1.5em;
    width:100%;
    margin-top:-7px;
}
p{
    font-size:14px;
}
b{
    font-size: 12px;
}
td{
    font-size: 12px;
}
th{
    font-size:12px;
}
caption{
    font-size: 8px;
    color: darkblue;
    margin-top: -1.5em;
}
caption b{
    color: #000000;
}
.studentdata{
    width:100%;
    height: 10%;
    display: inline-block;
    padding:-5px;
    margin-top:-.1em;
}
.studentdata .datafield{
    display: inline-block;
    font-size: 14px;    
    width: 20%;   
}
.studentdatarow{
    width:100%;    
}
.studentdatarow .datarow{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    width: 20%;
    right:50px;
    margin-bottom: -1em;
}
.studentdata .datafield2{
    display: inline-block;
    font-size: 14px;
    width: 9%;
    margin-top: -2em;
}
.studentdata .datafieldscholarship{
    display: inline-block;
    width: 20%;
}
.studentdatarow .datarow2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    width: 9%; 
}
.studentdatarow .datarowscholarship{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    width: 20%;
}
.courses{
    height:20%;
    width:100%;
    margin-top: -1em;
}
.courses .onex{
    width:5%;
}
.courses .twox{
    width:10%;
}
.courses .threex{
    width:17%;
}
.courses .fourx{
    width:25%;
}
.courses table, th{
    border: 1px solid black;    
}
.courses table{
    width:90%;
    margin-right:2.5em;    
}
.courses td{
    text-transform: uppercase;
}
.courses tr-string{
    border: 1px solid black;
}
.courses .totalunit{
    margin-left: 20em;
    font-size: 10px;
}
.SOA{
    width:100%;
    height:20%;
}
.SOA .assessment{
    width: 100%;
    height: 80%;
    display: inline-block;
}
.SOA .assess{
    width:70%;
    height:80%;
    display: inline-block;
}
.SOA .assess table{
    width:50%;    
}
.SOA td{
    font-size: 10px;
}
.SOA .fees{
    width: 30%;
    height: 80%;
    margin-top: -3em;
    display: inline-block;
}
.SOA .fees .threex{
    width: 50%;
}
.SOA .fees .twox{
    width: 30%;
}
.SOA .sched{
    width: 100%;    
}
.SOA .history{
    width: 100%;    
}
.SOA .assess .twox{
    width:40%;
}
.SOA .assess .fourx{
    width:60%;
}
.oversignature{
    width: 200px;
    height: 0px;
    border-top: 2px solid #080808;
    /* margin-top: 10em; */
    margin-left: 1em;
    /* margin-bottom: -0.5em; */
    display:inline-block;
}
.SOA .countersigns{
    width:100%;
    height:20%; 
}
.sigabovename{    
    margin-left: 2em;    
    display: inline-block;
    
}
.adviser{
    margin-left:6em;
    display:inline-block;
}
.designate{
    margin-left:8em;
    display:inline-block;
}
.summary{
    height: 30%;
    width:100%;
    display: inline-block;
}
.summary .summaryheading{
    width:90%;
    margin-left: 2em;
    display: inline-block;
}
.summary .summaryheading2{
    margin-left: 3em;
    display: inline-block;
}
.copy{
    margin-left:2.5em;
    font-size: 14px;
}
.Hbrokenline{
    border-top: 1px dashed rgb(12, 12, 12);
    width: 100%;
    height: 0px;    
}
.Lsummary{
    width:45%;
    height:35%;
    margin-right: -1em;
    display: inline-block;
}
.Rsummary{
    width:45%;
    height:35%;
    margin-left: -10em;
    display:inline-block;
}
.summarylinebelowhead{
    width: 100%;
    height: 0px;
    border-top: 2px solid #424141;  
    margin-top: -15px;  
}  
.summary .vl {
    border-top: 1px dashed rgb(7, 7, 7);
    width: 400px;
    height: 0px;
    margin-top: -100em;
    margin-left: -10em;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); 
}
.summary .summaryfield{
    display:inline-block;
}
.summary .summaryfieldline{
    border-top: 1px solid #404040;
    width:70px;
    height: 0px;
    margin-left: .5em;
    display: inline-block;
}
.summary .summaryfieldlineshort{
    border-top: 1px solid #404040;
    width:50px;
    height: 0px;
    margin-left: .5em;
    display: inline-block;
}
.summary .summaryfieldlineName{
    border-top: 1px solid #080808;
    width:300px;
    height: 0px;
    margin-left: 2em;
    display: inline-block;
}
.summary .namelabelsLAST{
    margin-left: 5em;
    margin-top: -6px;
    display: inline-block;
}
.summary .namelabelsFIRST{
    margin-left: 5em;
    margin-top: -6px;
    display: inline-block;
}
.summary .namelabelsmiddle{
    margin-left: 6em;
    margin-top: -6px;
    display: inline-block;
}
.summary .onex{
    width:5%;
}
.summary .twox{
    width:10%;
}
.summary .threex{
    width:17%;
}
.summary .fourx{
    width:25%;
    height: 
}
.summary table{
    width: 85%;
}
.summary .totalunit{
    margin-top: -6em;
    margin-left: 10.5em;
}
.summary .totalunitvalue{
    margin-top: -2em;
    margin-left: 3em;
}.summary .sigabovename{    
    font-size: 10px;
    margin-left: 3em;
    display: inline-block;
    margin-bottom: -30em;
    margin-top:.5em;
}
.summary .sigabovename2{    
    font-size: 10px;
    margin-left: 8em;
    display: inline-block;
    margin-bottom: -30em;
    margin-top:.5em;
}
.summary .oversignature{
    width: 150px;
    height: 0px;
    border-top: .5px solid #080808;
    margin-top: 3em;
    margin-left: 1em;
    margin-bottom: -.3em;
    display:inline-block;
} 
.summary .adviser{
    font-size: 10px;
    margin-left:7em;
    display:inline-block;
}
.by{
    margin-left: 5em;
    font-size: 10px;
    display: inline-block;
}
.validated{
    font-size:10px;
    display: inline-block;
}
