.CSU-logo{
    background-image: url('.././assets/csulogo.JPG');
    width:5em;
    height:5em;
}
.cor .head{
    width:100%;
    height:5.5%;  
    margin-bottom: -1em;  
}
.cor .heading{    
    width:50%;
    display: inline-block;
    margin-top: -1em;
}
.cor .rheadingcontent1{
    margin-left: 6em;
}
.cor .rheadingcontent2{
    margin-left: 7em;
    margin-top: -.5em;
}

.cor.head p{
    margin-top: -1em;
}
.cor{
    margin-left: 2em;
    margin-top:2em;
    margin-right: 1.5em;
    /* height:100%;
    width:100%; */
}
.cor hr{
    height: 0px;
    border-top: 2px solid #404040;
    margin-right: 1.5em;
    width:100%;
    margin-top:-7px;
}
.cor p{
    font-size:14px;
}
.cor b{
    font-size: 12px;
}
.cor td{
    font-size: 12px;
}
.cor th{
    font-size:10px;
}
.cor caption{
    font-size: 8px;
    color: darkblue;
    margin-top: -1.5em;
}
.cor caption b{
    color: #000000;
}
.studentdata{
    width:100%;
    height: 8%;
    display: inline-block;
    padding:-5px;
}
.studentdata .datafield{
    display: inline-block;
    font-size: 12px;    
    width: 20%;   
    margin-top: -1em;
}
.studentdatarow{
    width:100%;    
}
.studentdatarow .datarow{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    width: 20%;
    right:50px;
    margin-bottom: -1em;
}
.studentdata .datafield2{
    display: inline-block;
    font-size: 12px;
    width: 8.5%;
    margin-top: -2em;
}
.studentdata .datafieldscholarship{
    display: inline-block;
    width: 28%;
}
.studentdatarow .datarow2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    width: 8.5%; 
}
.studentdatarow .datarowscholarship{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    width: 30%;
}
.courses{
    height:20%;
    width:100%;
    margin-top: -2em;
}
.courses .onex{
    width:5%;
}
.courses .twox{
    width:10%;
}
.courses .threex{
    width:17%;
}
.courses .fourx{
    width:25%;
}
.courses table, th{
    border: 1px solid black;    
}
.courses table{
    width:95%;
    margin-right:2.5em;    
    margin-top: -2em;
}
.courses td{
    text-transform: uppercase;
    font-size: 6px;
}
.courses caption{
    margin-top: -1.5em;
}
.courses tr-string{
    border: 1px solid black;
}
.courses .totalunit{
    margin-left: 20em;
    font-size: 10px;
}
.courses .totalunitvalue{
   font-size: 10px;
   margin-left: 2em;
}
.SOA{
    width:100%;
    height:25%;
    margin-top: -1em;
}
.SOA table, th{
    border: 1px solid black;    
}
.SOA .assessment{
    width: 100%;
    height: 80%;
    display: inline-block;
}
.SOA .assess{
    width:70%;
    height:60%;
    display: inline-block;
}
.SOA .assess table{
    width:40%;  
    display: inline-block;  
    margin-left: 1em;
    border: 0px;
}
.SOA .assess .totalunit{
    margin-left: 0em;
}
.SOA .assess .totalunitvalue{
    margin-left: 2em;
}
.SOA td{
    font-size: 8px;
}
.SOA .fees{
    width: 30%;
    height: 80%;
    margin-top: -3em;
    display: inline-block;
}
.SOA .fees .threex{
    width: 60%;
}
.SOA .fees .twox{
    width: 90px;
}
.SOA .fees .sched{
    width: 100%;        
}
.SOA .fees .history{
    width: 100%;  
}
.SOA .fees .totalunitvalue{
    margin-left: 9em;
}
.SOA .assess .twox{
    width:160px;
}
.SOA .assess .fourx{
    width:60%;
}
.oversignature{
    width: 200px;
    height: 0px;
    border-top: 2px solid #080808;
    /* margin-top: 10em; */
    margin-left: 1em;
    /* margin-bottom: -0.5em; */
    display:inline-block;
}
.SOA .countersigns{
    width:100%;
    height:20%; 
}
.sigabovename{    
    margin-left: 2em;    
    display: inline-block;
    
}
.adviser{
    margin-left:6em;
    display:inline-block;
}
.designate{
    margin-left:8em;
    display:inline-block;
}
.summary{
    height: 30%;
    width:100%;
    display: inline-block;
}
.summary .summaryheading{
    width:90%;
    margin-left: 2em;
    display: inline-block;
}
.summary .summaryheading2{
    margin-left: 3em;
    display: inline-block;
}
.copy{
    margin-left:2.5em;
    font-size: 14px;
}
.Hbrokenline{
    border-top: 1px dashed rgb(12, 12, 12);
    width: 100%;
    height: 0px;    
}
.Lsummary{
    width:45%;
    height:35%;
    margin-right: -1em;
    display: inline-block;
}
.Rsummary{
    width:45%;
    height:35%;
    margin-left: -13em;
    display:inline-block;
}
.summarylinebelowhead{
    width: 100%;
    height: 0px;
    border-top: 2px solid #424141;  
    margin-top: -15px;  
}  
.summary .vl {
    border-top: 1px dashed rgb(7, 7, 7);
    width: 460px;
    height: 0px;
    margin-top: -100em;
    margin-left: -13.5em;
    margin-bottom: 10em;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); 
}
.summary .summaryfield{
    display:inline-block;
}
.summary .summaryfieldline{
    border-top: 1px solid #404040;
    width:70px;
    height: 0px;
    margin-left: .5em;
    display: inline-block;
}
.summary .summaryfieldlineshort{
    border-top: 1px solid #404040;
    width:50px;
    height: 0px;
    margin-left: .5em;
    display: inline-block;
}
.summary .summaryfieldlineName{
    border-top: 1px solid #080808;
    width:300px;
    height: 0px;
    margin-left: 2em;
    display: inline-block;
}
.summary .namelabelsLAST{
    margin-left: 5em;
    margin-top: -6px;
    display: inline-block;
}
.summary .namelabelsFIRST{
    margin-left: 5em;
    margin-top: -6px;
    display: inline-block;
}
.summary .namelabelsmiddle{
    margin-left: 6em;
    margin-top: -6px;
    display: inline-block;
}
.summary .onex{
    width:30px;
}
.summary .twox{
    width:55px;
}
.summary .threex{
    width:17%;
}
.summary .fourx{
    width:210px;
}
.summary table{
    width: 98%;
}
.summary td{
    font-size: 8px;
}
.summary .totalunit{
    margin-top: -6em;
    margin-left: 5.5em;
}
.summary .totalunitvalue{
    margin-top: -2em;
    margin-left: 2em;
}.summary .sigabovename{    
    font-size: 10px;
    margin-left: 3em;
    display: inline-block;
    margin-bottom: -30em;
    margin-top:.5em;
}
.summary .sigabovename2{    
    font-size: 10px;
    margin-left: 8em;
    display: inline-block;
    margin-bottom: -30em;
    margin-top:.5em;
}
.summary .oversignature{
    width: 150px;
    height: 0px;
    border-top: .5px solid #080808;
    margin-top: 3em;
    margin-left: 1em;
    margin-bottom: -.3em;
    display:inline-block;
} 
.summary .adviser{
    font-size: 10px;
    margin-left:7em;
    display:inline-block;
}
.by{
    margin-left: 5em;
    font-size: 10px;
    display: inline-block;
}
.validated{
    font-size:10px;
    display: inline-block;
}
