
.Item{
  width:100%;
  display: inline-block;
}
.Input {
  padding: 0 5px;
  margin-bottom: 10px;
}
.Overlay{
  position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.Search input:focus {
  border: 1px solid #01579b;
  width: 30%;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.PosComponent{
  display: inline-block;
  width:100%;
  padding:5px;
}
.LComponent{
  display: inline-block;
  width: 30%;
  padding:5px;
  margin-left:50px;
}
.RComponent{
  display: inline-block;
  width:30%;
  padding:5px;
  margin-left:30px;
  margin-top:20px;
}
.SearchPage{
  display: inline-block;
  width:40%;
}
.newBtn{
  margin-left: 500px;
}
.TimeText{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-style: bold;
  font-size: 16px;
  color: black; 
  margin-bottom: 30px;
  display:inline-block;
  padding:10px;;
}
.SearchModal {
  display: inline;
  background-color: aquamarine;
}
.SearchButtons{
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.CoursesAdding{
  background-color: #efebe9;
  padding: 20px;
}
.CourseControl{
  padding: 10px;
  height: 50%;
  width:50%;
  display: inline-block;
  background-color: #d7ccc8;
}
.CourseControl .firstdiv{
  padding:5px;
  width: 20%;
  display: inline-block;
}
.CourseControl .secdiv{
  padding:5px;
  width: 50%;
  display: inline-block;
}
.CourseControl .smalldiv{
  padding:5px;
  width: 10%;
  display: inline-block;
}
.CourseDescription{
  width: 500px;
}
.EnrollCourses{
  padding: 10px;
  height: 50%;
  width: 50%;
  display: inline-block;
  background-color: #c8e6c9;
}
.EnrollCourses .firstdiv{
  padding:5px;
  width: 20%;
  display: inline-block;
}
.EnrollCourses .secdiv{
  padding:5px;
  width: 50%;
  display: inline-block;
}
.EnrollCourses .smalldiv{
  padding:5px;
  width: 10%;
  display: inline-block;
}

.BasicInput label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}
.BasicInput input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  min-width: 100%;
  max-width: 99.99%!important;
  background: white;
  color: #000000;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-right: 5px;
  outline: none;
  padding: 10px;
  width:auto;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.BasicInput input:focus {
  border: 1px solid #FFB49A;
  width:300px;
}
.ShortInput label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
}
.ShortInput input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  min-width: 80%px;
  max-width: 99.99%!important;
  background: white;
  color: #000000;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-right: 5px;
  outline: none;
  padding: 10px;
  width:auto;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.ShortInput input:focus {
  border: 1px solid #FFB49A;
  width:120px;
}
h3{
  color: #01579b;
  font-family: Serif;
  font-style: normal;
}
h5{
  color:#1a237e;
  font-family: Sans Serif;
  font-style: oblique;
}
.VerCode{
  display: inline-flex;
}
.VerCodeBtn{
  color: #81d4fa;
  margin-top:10px;
}

