
.Item{
  width:100%;
  display: inline-block;
}
.Input {
  padding: 0 5px;
  margin-bottom: 10px;
}
.Overlay{
  position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.OverlayConfirm{
  position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #01579b;
}
.Search input:focus {
  border: 1px solid #01579b;
  width: 30%;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.PosComponent{
  display: inline-block;
  width:100%;
  padding:5px;
}
.LComponent{
  display: inline-block;
  width: 30%;
  padding:5px;
  margin-left:100px;
}
.RComponent{
  display: inline-block;
  width:30%;
  padding:5px;
  margin-left:30px;
  /* margin-top:20px; */
}
.SearchPageLeft{
  display: inline-block;
  width:30%;
  margin-left: 30px;
}
.SearchPageRight{
  display: inline-block;
  width:40%;
}
.newBtn{
  margin-left: 500px;
}
.TimeText{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-style: bold;
  font-size: 16px;
  color: black; 
  margin-bottom: 10px;
  display:inline-block;
  padding:10px;;
}
.SearchModal {
  display: inline;
  background-color: aquamarine;
}
.SearchButtons{
  display: inline-block;
  /* margin-left: 10px; */
  margin-top: 20px;
  margin-bottom: 20px;
}
.SButtons{
  margin-left: 180px;
}
.Modal2Buttons{
  display:inline-block;
}
.PrintDoc{
  display:inline-block;
}
.PrintDocCancel{
  display: inline-block;
  /* margin-left: 4em; */
}
.CoursesButtonprint{
  display: inline-block;
  margin-left:23em;
}
.CoursesButtondone{
  display: inline-block;
  /* margin-left: 2em; */
}
.CoursesAdding{
  background-color: #efebe9;
  width: 100%;
  padding: 20px;
}
.CoursesControl{
  width: 100%;
}
.Offeredcourses{
  padding: 10px;
  height: 50%;
  width:50%;
  display: inline-block;
  background-color: #d7ccc8;
}
.Offeredcourses .firstdiv{
  padding:5px;
  width: 20%;
  display: inline-block;
}
.Offeredcourses .secdiv{
  padding:5px;
  width: 50%;
  display: inline-block;
}
.Offeredcourses .smalldiv{
  padding:5px;
  width: 10%;
  display: inline-block;
}
.CourseDescription{
  width: 500px;
}
.EnrollCourses{
  padding: 10px;
  height: 50%;
  width: 50%;
  display: inline-block;
  background-color: #c8e6c9;
}
.div[isvalidated="true"]{
  color: rgb(109, 184, 255);
}
.EnrollCourses .firstdiv{
  padding:5px;
  width: 20%;
  display: inline-block;
}
.EnrollCourses .secdiv{
  padding:5px;
  width: 50%;
  display: inline-block;
}
.EnrollCourses .smalldiv{
  padding:5px;
  width: 10%;
  display: inline-block;
}
.BasicInput label {
  display: block;
  text-transform: capitalize;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}
.BasicInput input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  min-width: 100%;
  max-width: 99.99%!important;
  background: white;
  color: #000000;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-right: 5px;
  outline: none;
  padding: 10px;
  width:auto;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.BasicInput input:focus {
  border: 1px solid #FFB49A;
  width:300px;
}
.ShortInput label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
}
.ShortInput input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  min-width: 80%px;
  max-width: 99.99%!important;
  background: white;
  color: #000000;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-right: 5px;
  outline: none;
  padding: 10px;
  width:auto;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.ShortInput input:focus {
  border: 1px solid #FFB49A;
  width:120px;
}
h3{
  color: #01579b;
  font-family: Serif;
  font-style: normal;
}
.Offeredcourses h5{
  color:#1a237e;
  font-family: Sans Serif;
  font-style: oblique;
}
.subheading .VerCode{
  width: 50%;
  display: inline-block;
}
.CoursesAdding .infodiv .studinfo{
  width: 70%;
  display: inline-block;
}
.CoursesAdding .infodiv .ServerDateTime{
  width: 30%;
  display: inline-block;
}
.CoursesAdding .subheading .VerCode .Input{
  display: inline-block;
  width:40%;
}
.CoursesAdding .subheading .VerCode .vercodeButton{
  /* margin-top:10px; */
  display:inline-block;
}
.subheading{
  width: 100%;
}
.subheading .menuButtons{
  width: 50%;
  margin-right: -15em; 
  display: inline-block;
}
.confirmModal{
   background-color: #01579b;
  }
.confirmdeleteHead{
  align-content: center;
}
.confirmdeleteHead h4{
  font-style: unset;
  margin-left: 7em;
}
.confirmdeleteHead h6{
  margin-left: 3em;
}
.ConfirmButtons{
  display: inline-block;
  margin-left: 4em;
}
.confirmprintHead{
  align-content: center;
}
.confirmprintHead h4{
  margin-left: 7em;
}
.confirmprintHead h6{
  margin-left: 5em;
}
.orno{
  margin-left: 6em;
  margin-top: 1em;
  width:60%;
}
.orno Button{
  display: inline-block;
}
.infodiv{
  display: inline-block;
  width: 100%;
  margin-top: -1em;
}

.infodivbuttons{
  margin-left: 100px;
}
.buttonnames{
  font-size: 15em;
  font-style: bold;
  color:#ffffff;
}
.ModalCOR{
  position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    height:2600px;
    background-color: rgb(247, 221, 181);
    
}
.ModalSOA{
  position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    height:1300px;
    background-color: rgb(193, 223, 180);
    
}
.PrintingConfirmation{
  position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    height:1300px;
    background-color: rgb(247, 221, 181);
}
.studinfo .datafield{
  display: inline-block;
  font-size: 14px;    
  margin-top: -1em;
}

.studinfo .datarow{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  width: 28%;  
  margin-left: 1em;
}
.studinfo .datarow2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  width: 10%;  
  margin-left: 1em;
}
